li{
    border: 2px black solid;
    width: 400px;
}

#ul1{
    list-style-type: square;
    list-style-position: inside;
}

#ul2{
    list-style-image: url('https://lh3.bunny.novaskin.me/G6R1WhCAa4x3GCTiZX46dxAZjBw0xCK5_moxtzTEuLGP65KZXWytPnafbCnlEVKuTK7m43f_m96m2g12v4PFag=rw-h400')
}

ol{
    list-style-type: upper-roman;
}